.col-1{
    width: 30%;
    margin-left: auto;
    border: 1px solid black;
        border-radius: 17px;
        background-color: #709176;
<<<<<<< HEAD
    }
=======
    }
>>>>>>> 7129b9bffbf3d1f34d15fa4a84cf1c674d1262d7
