.splash-banner{
    margin: 1.5rem;
    border: 1px solid #ebebe4;
    border-radius: 0.356rem;
    padding: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px;
    border-radius: 17px;
    color: #333333;
    image-rendering: crisp-edges;
    background-color: #E3C8D1;
}

.splash-panels{
    padding: 0.7rem;

}
.panels-top{
    display:flex;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
    color: #333333;
    

}
.panels-bottom{
    display:flex;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
    color: #333333;
    
}
.panel{
    width: 500px;
    text-align: center;
    border: 1px;
    border-radius: 0.356rem;
    padding: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px;
    color: #333333;
    image-rendering: crisp-edges;
    border-image: auto;

}
.pane2{
    width: 500px;
    text-align: center;
    border: 1px;
    border-radius: 0.356rem;
    padding: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px;
    color: #333333;
    image-rendering: crisp-edges;
    border-image: auto;


}
.pane3{
    width: 500px;
    text-align: center;
    border: 1px;
    border-radius: 0.356rem;
    padding: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px;
    color: #333333;
    image-rendering: crisp-edges;
    border-image: auto;

}
.pane4{
    width: 500px;
    text-align: center;
    border: 1px;
    border-radius: 0.356rem;
    padding: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px;
    color: #333333;
    image-rendering: crisp-edges;
    border-image: auto;
}
.footer{
    display: flex;
    flex-direction: column;
}
.imageContainerfriend{
    width: auto;
}
.splashcard{
    background-color: #E3C8D1;
}
.splashcardheader{
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
}