.icon-lnk {
    color:#111;
}

.expense-btn {
  align-items: center;
  background-color: #f2d0dd;
  border: 2px solid #111;
  border-radius: 1px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: auto;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.expense-btn:after {
  background-color: #111;
  border-radius: 1px;
  content: "";
  display: block;
  height: 28px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.expense-btn:hover:after {
  transform: translate(0, 0);
}

.expense-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.expense-btn:hover {
  outline: 0;
  background-color: #111;
}

.sort-btn {
  align-items: center;
  background-color: #f2d0dd;
  border: 2px solid #111;
  border-radius: 1px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sort-btn:after {
  background-color: #111;
  border-radius: 1px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.sort-btn:hover:after {
  transform: translate(0, 0);
}

.sort-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.sort-btn:hover {
  outline: 0;
  background-color: #111;
}

@media (min-width: 768px) {
  .expense-btn {
    padding: 0 40px;
  }
}
